.App{
  .c-PostList{
    padding:2em 1em;

    h3{
      text-align: center;
    }
    .header{
      flex-direction: column;
      text-align: center;
      button{
        margin-top:1em;
      }
    }
  
    .item{
      margin-bottom: 5px;
      
      button{
        float: right;
      }
    }
  
    .pagination{
      display: flex;
      justify-content: center;
      margin-top: 1em;
      
      .btn{
        margin:0 0.300em;
        background: transparent;
        border:2px solid black;
        color: black;
      }

      .active{
        background: black;
        color: #ffffff;
      }
  
    }
  }  


  .c-Details{
    padding: 2em 1em;
    h4{
      margin-top:0.500em;
    }
    .card{
      margin-bottom: 1em;
    }
  }

  .c-Form{
    padding: 2em 1em;
    text-align: center;

    .form-error{
      border:1px solid black;
    }

    .redirect{
      float: left;
      padding: 0.500em 1em;
      margin-right: 2em;
    }
    .form-input{
      display:flex;
      flex-direction: column;
      
      input{
        padding:0.500em 1em;
        margin-bottom: 0.500em;
      }


      .error{
        color: red;
        font-weight: bold;
        float: left;
      }

      button{
        margin-top:1em;
      }
    }
  }
}